<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">设置管理用户信息</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <form class="w5c-form" novalidate w5c-form-validate="scope.validateOptions" method="post" name="vform">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">登录名称</label>
                            <input name="login_name" ng-model="scope.admin.login_name" type="text" required class="input-large form-control"
                                   placeholder="输入管理用户登录名"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">登录密码</label>
                            <input name="passwd" ng-model="scope.admin.passwd" type="password" class="input-large form-control"
                                   placeholder="输入管理用户登录密码"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">QQ</label>
                            <input name="qq" ng-model="scope.admin.qq" type="text" class="input-large form-control"
                                   placeholder="联系QQ[选填]"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">手机号码</label>
                            <input name="mobile" ng-model="scope.admin.mobile" type="text" class="input-large form-control"
                                   placeholder="联系手机[选填]"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">管理角色</label>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="role in scope.roles">
                                    <div class="checkbox checkbox-danger controls">
                                        <input id="selected{{::role.id}}"
                                               name="functions"
                                               ng-model="role.actived"
                                               type="checkbox" class="input-mini" />
                                        <label for="selected{{::role.id}}">{{::role.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">

                    </div>
                </div><!-- end row -->

                <div class="row m-t-30">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary waves-effect waves-light" id="okButton"
                            w5c-form-submit="scope.submit($event)"
                            ng-disabled="scope.isBusy"
                            v-busy="scope.isBusy"
                            v-busy-label="确定提交"
                            v-pressable>
                            确定提交
                        </button>
                        <a ui-sref="console.admin.user" class="btn btn-default waves-effect waves-light" id="cancelButton">
                            返回列表
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- end col -->
</div>
<!-- end row -->